# Librerías esenciales
numpy
pandas==1.5.4
openpyxl

# Visualizaciones
matplotlib
seaborn
plotly-express

# Modelado y computación
scikit-learn
scipy
ortools

# APIs y scripts
wandb
pip install --upgrade streamlit
streamlit
Flask
gunicorn
pyyaml
fire

# Miscelánea
yfinance
geopandas
chart-studio
nltk
kaggle
joblib
Pillow